### files to ignore
Readme.ipynb
*.ipynb
**/ Readme.ipynb
md_convertor.py

### general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
**/*.ipynb_checkpoints/
*.so
*~

### Projects to ignore
Projects/option_strategy1
Projects/market_depth_analysis
Projects/Dash_app1


### due to using tox and pytest
.tox
.cache